body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;

}

h1{
  font-size: 50px;
  margin-top: 0;
  font-family:'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family:'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{

  line-height: 2;
}

a{
  color: #11999E;
  font-family:'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle{
  margin: 100px 0;
}

.bottom{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.com-img{
   width: 25%;
   float: left;
   margin: 10px;
}

.chill-img{
  width: 25%;
  float: right;
  margin: 10px;
}

/*.com-skill-description{
  clear: left;
} */

.btn {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:19px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}

.btn:hover {
	background: #30e3cb;
}
